<a href="https://colab.research.google.com/github/stinh/Tiba_02_Crawler-and-SQL/blob/main/00_practice_20211014_MySQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pymysql

Requirement already satisfied: pymysql in /usr/local/lib/python3.7/dist-packages (1.0.2)

In [ ]:
import pymysql
link=pymysql.connect(
  host="",
  user="", #帳號大家寫自己的
  passwd="",
  db="", #資料庫名稱大家寫自己的
  charset="utf8",
  port=3306
)
cur=link.cursor()
# id=input("要修改的資料ID：")
title=input("標題：")
description=input("描述：")
source=input("來源：")
# create_date=input("日期：")

# cur.execute("UPDATE `news` SET `title`=%s,`description`=%s WHERE `id`=%s",[title,description,id])
# link.commit()

cur.execute(
  "INSERT INTO `news`(`title`,`description`,`source`,`create_date`) VALUES(%s,%s,%s,'2021-10-14')",
  [title,description,source]
)
link.commit()

link.close()

In [ ]:
import pymysql
link=pymysql.connect(
  host="",
  user="", #帳號大家寫自己的
  passwd="",
  db="", #資料庫名稱大家寫自己的
  charset="utf8",
  port=3306
)
cur=link.cursor()

cur.execute(
  "INSERT INTO `news`(`title`,`description`,`source`,`create_date`) VALUES(%(y)s,%(z)s,%(x)s,'2021-10-14')",
  {
    "x":input("來源："),
    "y":input("標題："),
    "z":input("描述：")
  }
)
link.commit()
print(cur.lastrowid)

link.close()

In [ ]:
import pymysql
link=pymysql.connect(
  host="",
  user="", #帳號大家寫自己的
  passwd="",
  db="", #資料庫名稱大家寫自己的
  charset="utf8",
  port=3306
)
cur=link.cursor()

# cur.execute("SELECT * FROM `news` LIMIT 2,1")
cur.execute("SELECT * FROM `news`")
d=cur.fetchone() #抓第一筆
print(d[0],d[1],d[2])

d=cur.fetchone() #抓第二筆
print(d[0],d[1],d[2])

#抓完剩下的
for a in cur.fetchall():
  print(a[0],a[1],a[2])

# d=cur.fetchone() #fetchone不可以放在fetchall後面執行
# print(d[0],d[1],d[2])

link.close()

1 經濟日報 「GOLF學用接軌聯盟」結合企業 與大專院校推學分合作
2 蘋果日報 疫情不必停學　緯育TibaMe課程無縫轉線上
3 蘋果日報 疫起挺過來緯創TibaMe免費公開遠距教學、辦公課程｜ 蘋果 …
4 天天日報 今天規劃
5 123 ry

In [ ]:
import requests,codecs
from bs4 import BeautifulSoup
import pymysql
link=pymysql.connect(
  host="",
  user="", #帳號大家寫自己的
  passwd="",
  db="", #資料庫名稱大家寫自己的
  charset="utf8",
  port=3306
)
cur=link.cursor()
 
r1=requests.get(
  "https://money.udn.com/rank/newest/1001/0/1",
  headers={
    "User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:93.0) Gecko/20100101 Firefox/93.0",
    "Cookie":"_fbp=fb.1.1633663623210.1882775856; _ga=GA1.2.1771640070.1633663623; __gads=ID=65d8959fc2d390af:T=1633663623:S=ALNI_MbC1UGBL22RONgv6cdY-GYys6viwQ; cto_bundle=-kdyol9YckVHNDlNeSUyRnlVb2ZPa2g3dmJwNktLTGUlMkZrTiUyRlRUVjlQQVhFV3lMeCUyRiUyRnklMkZsODJiVG4lMkY1alBEa0t0UFV5allYSmwlMkZVQ01NaVZTRDhSMU5RajNNbmp1NXBXUGtCJTJGejA4aUhxYnRsTmhNYmJyUzhUeVlFQ250V0pGc0wyJTJGaGsw; __asc=1b577b2717c7736b87ed750edca; __auc=1b577b2717c7736b87ed750edca; meter_1=1; meter_7=1; _gid=GA1.2.1808153399.1634087648; _gat_UA-19210365-3=1; _gat_UA-19660006-1=1; gliaplayer_ssid=ded47c80-2bc2-11ec-9e7e-cbdcd7321766; _gliaplayer_user_info={%22city%22:%22suginami%20city%22%2C%22uid%22:%22defdfd80-2bc2-11ec-9e7e-cbdcd7321766%22%2C%22country%22:%22TW%22%2C%22region%22:%2213%22%2C%22source%22:%22CF%22%2C%22latlong%22:%2235.699470%2C139.635520%22%2C%22ip%22:%22111.243.51.55%22}; _pbjs_userid_consent_data=3524755945110770"
  }
)
b1=BeautifulSoup(r1.text,"html.parser")
for b2 in b1.find_all("tr",{"style":"table-row"}):
  print(
    b2.find("td",{"align":"right"}).text,
    b2.find("a").attrs["href"],
    b2.find("a").text
  )
  r2=requests.get(
    b2.find("a").attrs["href"],
    headers={
      "User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:93.0) Gecko/20100101 Firefox/93.0",
      "Cookie":"_fbp=fb.1.1633663623210.1882775856; _ga=GA1.2.1771640070.1633663623; __gads=ID=65d8959fc2d390af:T=1633663623:S=ALNI_MbC1UGBL22RONgv6cdY-GYys6viwQ; cto_bundle=-kdyol9YckVHNDlNeSUyRnlVb2ZPa2g3dmJwNktLTGUlMkZrTiUyRlRUVjlQQVhFV3lMeCUyRiUyRnklMkZsODJiVG4lMkY1alBEa0t0UFV5allYSmwlMkZVQ01NaVZTRDhSMU5RajNNbmp1NXBXUGtCJTJGejA4aUhxYnRsTmhNYmJyUzhUeVlFQ250V0pGc0wyJTJGaGsw; __asc=1b577b2717c7736b87ed750edca; __auc=1b577b2717c7736b87ed750edca; meter_1=1; meter_7=1; _gid=GA1.2.1808153399.1634087648; _gat_UA-19210365-3=1; _gat_UA-19660006-1=1; gliaplayer_ssid=ded47c80-2bc2-11ec-9e7e-cbdcd7321766; _gliaplayer_user_info={%22city%22:%22suginami%20city%22%2C%22uid%22:%22defdfd80-2bc2-11ec-9e7e-cbdcd7321766%22%2C%22country%22:%22TW%22%2C%22region%22:%2213%22%2C%22source%22:%22CF%22%2C%22latlong%22:%2235.699470%2C139.635520%22%2C%22ip%22:%22111.243.51.55%22}; _pbjs_userid_consent_data=3524755945110770"
    }
  )
  b3=BeautifulSoup(r2.text,"html.parser")
  description=""
  for b4 in b3.find("div",{"id":"article_body"}).find_all("p"):
    description+=b4.text
  cur.execute(
    "INSERT INTO `news`(`title`,`description`,`source`) VALUES(%(y)s,%(z)s,'聯合新聞網')",
    {
      "y":b2.find("a").text,
      "z":description
    }
  )
  link.commit()
  
link.close()